<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Korex Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <%- include (`partials/header`); -%>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol style="float: left;">
            <li><a href="/">Home</a></li>
            <li>Project Details</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/portfolio/auto.jpg" class="img-slide"  alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/portfolio/auto.jpg" class="img-slide"  alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="portfolio-description">
              <h2>WELCOME TO MY Autos-Rentals System</h2>
              <p>
                The Autos-Rentals System is a comprehensive web application designed for managing vehicle rentals and bookings for Korex Autos Rentals. This system streamlines the process of booking, managing, and tracking vehicle rentals. It offers a user-friendly platform for both customers and administrators to handle various aspects of vehicle rental operations efficiently.
              </p>

                <strong>Features:</strong> 
                <div>
                  <b>User & Admin Authentication:</b> Secure login for users and administrators with role-based access control.<br>
                  <b>Password Hashing:</b> User passwords are securely hashed using bcrypt for enhanced security.<br>
                  <b>Vehicle Management:</b> Admins can add, view, edit, and manage vehicle information, including availability and pricing.<br>
                  <b>Booking Management:</b> Admins can oversee and manage vehicle bookings, including viewing, updating, and cancelling reservations.<br>
                  <b>Customer Management:</b> Admins can manage customer accounts, including viewing customer details and booking history.<br>
                  <b>Booking Scheduling:</b> Customers can schedule vehicle rentals through the system, selecting vehicles, dates, and times.<br>
                  <b>Booking Confirmation:</b> Automated confirmation emails are sent to customers after booking a vehicle.<br>
                  <b>Responsive Design:</b> The website is designed to be responsive, ensuring a seamless experience on both desktop and mobile devices.<br>
                  <b>Location-Based Services:</b> Customers can choose pickup and drop-off locations with suggestions as they type.<br>
                  <b>Expense Tracking:</b> The system tracks rental expenses and generates reports for administrative purposes.<br>
                </div>
            </div>
            
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web development</li>
                <li><strong>Project date</strong>: 01 Aug, 2023</li>
                <li><strong>Project URL</strong>:
                   <a href="https://car-rental-frontent.vercel.app" target="_blank">korex-autos-rentals.com</a>
                </li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Technologies Used</h2>
              <p>
                <ul>
                  <li>JavaScript</li>
                  <li>NodeJs</li>
                  <li>ExpressJs</li>
                  <li>MongoDB</li>
                </ul>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include (`partials/footer`); -%>
</body>

</html>