<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Korex Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <%- include (`partials/header`); -%>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol style="float: left;">
            <li><a href="/">Home</a></li>
            <li>Project Details</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/portfolio/ecommerce.jpg" class="img-slide"  alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/portfolio/ecommerce.jpg" class="img-slide"  alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="portfolio-description">
              <h2>Welcome to my ecommerce System!</h2>
              <p>
                Discover a world of seamless shopping and effortless selling with our comprehensive e-commerce solution. Our platform is designed to provide both buyers and sellers with a convenient, secure, and efficient marketplace experience.
              </p>

                 <strong>Features:</strong> 
                 <div>
                    <b>Account Registration:</b>Sign-up, login, password reset, account verification. Enables users to manage their personal information, view order history, and customize their shopping experience.<br>
  
                    <b>Product Listings and Browsing:</b> Detailed product descriptions, images, categories, and search filters. Helps users find products quickly and provides sellers with a platform to showcase their items.<br>
  
                    <b>Shopping Cart and Checkout:</b> Add to cart, view cart, update quantities, proceed to checkout. Streamlines the purchasing process and allows users to review their selections before finalizing orders.<br>
  
                    <b>Payment Processing:</b> Integration with payment gateways with paystack.<br>
  
                    <b>Order Tracking and Notifications:</b> Track orders in real-time, receive updates on order status. Keeps users informed about their purchases and enhances the overall customer experience.<br>
  
                    <b>Customer Reviews and Ratings:</b> Write reviews, rate products, view other users' feedback. Helps build trust and assists users in making informed purchasing decisions.<br>
  
                    <b>Seller Dashboard:</b> Product management, sales reports, inventory tracking. Empowers sellers to manage their business effectively from a centralized location.<br>
                    
                    <b>Customer Support:</b> Live chat, using socket.oi.<br>
  
                    <b>Nodemailer Notifications:</b> Send emails for order confirmations, shipping updates, promotions. Keeps users informed and engaged through email notifications.
                  </div>
            </div>
            
          </div>
    
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web development</li>
                <li><strong>Project date</strong>: 31 May, 2024</li>
                <li><strong>Project URL</strong>:
                    <a href="https://korexecommerce.onrender.com/" target="_blank">korexecommerce.com</a>
                </li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Technologies Used</h2>
              <p>
                <ul>
                  <li>Javascript, EJS </li>
                  <li>HTML, CSS</li>
                  <li>ExpressJs</li>
                  <li>JWT</li>
                  <li>MongoDB</li>
                  <li>PassportJs</li>
                  <li>BcryptJs</li>
                  <li>Nodemailer</li>
                  <li>Socket.Io</li>
                  <li>cloudinary</li>
                  <li>Paystack</li>
                </ul>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include (`partials/footer`); -%>
</body>

</html>