<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Korex Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

                                          <%- include (`partials/header`); -%>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in"><br>
      <h1>Akorede Agboola</h1>
      <p>I'm <span class="typed" data-typed-items="Backend Developer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About</h2>
          <p>Hello! I'm Akorede Agboola, a passionate junior backend developer with a keen interest in creating impactful
                solutions through code. I've dedicated myself to mastering the intricacies of backend development.
          </p><br>

          <p>My journey into the world of coding has been defined by a commitment to building projects that not only solve
               problems but also enrich user experiences. I thrive on the challenges of turning complex ideas into functional and user-friendly applications.
          </p><br>
            
          <p>In every project, my goal is to not just meet requirements but to exceed expectations. I believe that technology 
              is an essential part of our lives, and should simplify tasks, enhance experiences, and make a positive impact on businesses and individuals.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <!-- <img src="assets/img/ddd.jpg" class="img-fluid" alt=""> -->
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Developer &amp; Backend Developer.</h3>
            <p class="fst-italic">
              Overview
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>23 March 1994</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+2347-0337-31378</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lagos, Nigeria</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>CV:</strong> <span>
                    <a href="https://docs.google.com/document/d/e/2PACX-1vQ9dIRfZlMMgZngyz_knYUdoHXG-cdyofF9ohtpd574qbeX5oDxzeKzvXfxIAILnA/pub" 
                    target="_blank" >Click to view CV</a></span>
                  </li>
                   
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>29</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor's degree</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ibrahim4grace@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                   <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>korextech.com.ng</span></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <!-- <p>my skills and the technologies I use</p> -->
        </div>

        <div class="row skills-content">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
                <span class="skill">Front-End Development</span>
            </div>
            <div class="progress">
                
                <span class="skill">HTML<i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            <div class="progress">
                
              <span class="skill">bootstrap<i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">Templating languages (EJS) <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
                <span class="skill">Back-End Development</span>
              
            </div>

            <div class="progress">
              <span class="skill">Node.js<i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Express.js<i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">RESTful API <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Package Manager:NPM for Node.js <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

          </div>
<hr>
          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
                <span class="skill">Database Management</span>
            </div>
            
            <div class="progress">
                <span class="skill">MongoDB<i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="progress">
                <span class="skill">Version Control</span>
              
            </div>
            <div class="progress">
                <span class="skill">Git  <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <!--My foundation in web development is built upon strong proficiency in JavaScript, both on the front-end and back-end using Node.js. I've utilized frameworks like Express.js and templating engines like EJS to create robust web applications. Additionally, my experience extends to PHP, enabling me to develop versatile and dynamic websites...</p> -->
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Akorede Agboola</h4>
              <p><em>My foundation in web development is built upon JavaScript, both on the front-end and back-end using Node.js. I've utilized frameworks like Express.js, templating engines like EJS and Mongodb to create robust web applications.</em></p>
              <ul>
                <li>6 Akinde Estate,</li>
                <li>Alakuko, Lagos</li>
                <li>+2347-0337-31378</li>
                <li>Ibrahim4grace@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>National Youth Service Corps</h4>
                <h5>2022 - 2023</h5>
                <p><em>NYSC</em></p>
                
              </div>
              <div class="resume-item">
                <h4>Bachelor of Mass Communication</h4>
                <h5>2017 - 2020</h5>
                <p><em>Haute Ecole de Gestion et de Technology (HEGT UNIVERSITY), Cotonou, Benin Republic</em></p>
                
              </div>
            
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Work Experience</h3>
            <div class="resume-item">
              <h4>Backend Developer</h4>
              <h5>January 2023 - Present</h5>
              <p><em>Lagos, NG </em></p>
              <ul>
                <li>
                  Real Estate App: Is a Node.js web application that helps users find their dream house within their desired city. It allows users to contact the respective agents for more information, schedule tours, and receive notifications via email using the power of Nodemailer.
                </li>
               
                <li>
                  The Doctor Management System: Is a web application designed for managing doctors' information and appointments at a medical institution, This system helps in organizing, updating, and retrieving doctor-related data efficiently. It also provides a platform for patients to schedule appointments with their doctors.

                </li>

                <li>
                  Logistis Website: This web application provides a user-friendly platform for individuals to register and manage their parcels. Users can register their parcels, receive a unique tracking number, and track the status of their packages. Additionally, the system provides real-time notifications to keep users informed about their parcel's shipping progress.

                </li>

                <li> Successfully completed 5 projects, including School Management System. </li>
               
              </ul>
            </div>
          
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          
          <p>Explore some of my featured projects that demonstrate my skills and expertise. Each project showcases my commitment to delivering high-quality solutions. Feel free to click on the images to visit each project.</p>
          
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <!-- <li data-filter=".filter-app">App</li> -->
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap" >
              <img  class="img-fluids"  src="assets/portfolio/hospital.jpg" alt="">
              <div class="portfolio-links">
                <a href="/details" title="More Details">
                  <i class="bx bx-link"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web"">
            <div class="portfolio-wrap">
              <img class="img-fluids" src="assets/portfolio/estate.jpg" class="img-fluids" alt="">
              <div class="portfolio-links">
                <a href="/estateDetails" title="More Details">
                  <i class="bx bx-link"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web"">
            <div class="portfolio-wrap">
              <img src="assets/portfolio/logistic.jpg" class="img-fluids" alt="">
              <div class="portfolio-links">
                <a href="/logisticDetails" title="More Details">
                  <i class="bx bx-link"></i>
                </a>
              </div>
            </div>
          </div>
          
                            <!-- I can add more  -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>6 Akinde Estate, Alakuko, LG 23401</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ibrahim4grace@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call/WhatsApp:</h4>
                <p>+234 703 3731 378</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.2481584425497!2d3.2914143152548396!3d6.647081124594181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9195ad746659%3A0x12d0c12449cf2580!2sAbule%20Egba%2C%20Lagos!5e0!3m2!1sen!2sng!4v1640887966148" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

            </div>

          </div>
       
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contactPost" id="enquiryForm" method="post" role="form" class="ejs-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10"  id="message" required></textarea>
              </div>
              
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
            <div id="enquiryMessage" class="thankYou">
              <div>Your message has been sent. Akorede Agboola will get in touch with you. Thank you!</div> 
      
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



                                     <%- include (`partials/footer`); -%>

</body>

</html>